REALTIME_MODEL=gpt-4o-mini-realtime-preview
AZURE_OPENAI_ENDPOINT=https://<azureopenai>.openai.azure.com/
AZURE_OPENAI_API_KEY=azurekey
AZURE_OPENAI_REALTIME_DEPLOYMENT_NAME=gpt-4o-mini-realtime-preview
OPENAI_API_VERSION=2025-04-01-preview
AZURE_OPENAI_DEPLOYMENT_MODEL=model-router
AZURE_OPENAI_REGION=eastus2