AZURE_OPENAI_ENDPOINT=https://<your_aoai_rs_name>.openai.azure.com/
AZURE_OPENAI_API_KEY=key
AZURE_OPENAI_REALTIME_DEPLOYMENT_NAME=gpt-4o-mini-realtime-preview
OPENAI_API_VERSION=2025-04-01-preview
AZURE_OPENAI_DEPLOYMENT_MODEL=model-router
AZURE_OPENAI_REGION=eastus2
AZURE_OPENAI_TRANSCRIPT_MODEL=gpt-4o-transcribe